!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title Clients statistics
    %link{:href => "/stylesheets/main.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    %header
      .header-inner
        .container
          %a.logo{href: '/'} DSmith    
    .sidebar
      .container
        %a{href: '/clients/new'} Add client
        %h2 Clients: #{Client.count}
    .content-index
      .container
        = yield