!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title Clients statistics
    %link{:href => "/stylesheets/main.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    %header
      .header-inner
        .container
          %a.logo{href: '/'} DSmith
          %ul.counter
            %li Clients: #{Client.count}
            %li Projects: #{Project.count}
    .sidebar
      %ul
        %li
          %a{href: '/projects'} Projects
        %li
          %a{href: '/clients'} Clients
        %li
          %a{href: '/clients/new'} Add client
        %li
          %a{href: '/projects/new'} Add project
    .content-index
      .container
        = yield