.form-client
  %form{action: "/projects/new", method: "POST"}
    %input{type:"text", name: "project[project_name]", placeholder: "Project name"}
    %br
    %input{type: "submit", value: "Add project"}