.content-index {
	width: 80%;
	height: 92.5%;
	float: right;
	h1 {text-align: center;}
	overflow: scroll; 
}

.main-list {
  li {
  	position: relative;
  }
}

.main-list-element {
	background-color: darken(#ffffff, 10%);
	display: inline-block;
	padding: 10px;
	width: 100%;
	font-size: 1.5em;
	margin-bottom: 2px;
	border: 2px solid darken(#ffffff, 15%);
	&:hover {
		background-color: darken(#ffffff, 15%);
	}
}

.show-info-block	{
	padding: 5px;
}

.client-char {
	font-size: 1.2em;
}