

.sidebar {
	width: 20%;
	height: 92.5%;
	background-color: darken(#ffffff, 20%);
	float: left;
}

.content-index {
	width: 80%;
	height: 92.5%;
	float: right;
	h1 {text-align: center;}
	overflow: scroll;
}

.clients {
	background-color: green;
	display: block;
	padding: 10px;
	width: 100%;
	font-size: 1.5em;
	margin-bottom: 2px;
	&:hover {
		background-color: darken(green, 5%);
	}
}